body{
    font-family: "Roboto";
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(30, 30, 219);
    font-weight: 300;
    color: #fff;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    padding: 1rem;
    background-color: #fff;
}
footer{
    background-color: rgb(30, 30, 219);
    font-weight: 300;
}