body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background: #4b0033;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

main {
    max-width: 700px;
    margin: 1rem auto;
    background: #c9c2c8;
    padding: 1.5rem;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.4rem;
    border-radius: 4px;
    border: 1px solid #aaa;
    font-size: 1rem;
}

.rating label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
}

input[type="submit"] {
    background-color: #0a0a0a;
    color: #ffffff;
    border: 2px solid #0a0a0a;
    padding: 0.9rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #ffffff;
    color: #0a0a0a;
    border: 2px solid #0a0a0a;
    outline: none;
}
a {
    color: #0a0a0a;
}

a:visited {
    color: #0a0a0a;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: underline;
}
footer {
    background: #4b0033;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

.optional {
    color: #000000;
    font-weight: bolder;
    font-size: 0.9rem
}
@media (min-width: 768px) {
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}