@media (min-width: 768px) {

    /* Hide hamburger */
    #menu {
        display: none;
    }

    /* Show nav normally */
    nav {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        background-color: transparent;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    /* Grid expands */
    .album {
        grid-template-columns: repeat(3, 1fr);
    }
}